[req]
distinguished_name = dn
prompt = no
[dn]
CN = app.lando.test
[v3_leaf]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:app.lando.test, DNS:api.lando.test
